# Team Amber : Datathon 2021

## Solution code by:

- Bhavana Balakrishna Rao
- Irene Jin
- Yash Bhatnagar
- Zhenghao Zhang
___________

## Dataset 

Summary

The dataset is comprised of Stathletes-tracked women’s hockey data from the NWHL. The included events have been translated from Stathletes’ raw data to enhance accessibility and interpretability. The various event types include shots, plays, takeaways, puck recoveries, dump ins, dump outs, zone entries, faceoffs and penalties. Event definitions may slightly differ from other sources. For each event, expanded details are provided and the relevant skaters and teams involved are indicated when necessary.

***Contextual Data***

* Date (e.g. ‘2020-12-23’. Format = ‘yyyy-mm-dd’)
* Home Team (e.g. ‘Toronto Maple Leafs’)
* Away Team (e.g. ‘Boston Bruins’)
* Period (range from 1-3 for regulation, 4+ for overtime)
* Clock (e.g. ‘19:34’. Format = ‘mm:ss’)
* Home Team Skaters (range from 3-6 for home skaters currently on the ice)
* Away Team Skaters (range from 3-6 for away skaters currently on the ice)
* Home Team Goals (current goals scored by the home team at the time of the event)
* Away Team Goals (current goals scored by the away team at the time of the event)
* Team (name of the team responsible for the event)
* Player (name of the player responsible for the event)
* Event (type of event, e.g. ‘Play’, ‘Shot’, …)
* X Coordinate (x-coordinate of where an event occurred on the ice, between 0 and 200)
* Y Coordinate (y-coordinate of where an event occurred on the ice, between 0 and 85)
* Coordinates are always from the perspective of the eventing team

* Detail 1-4 (up to 4 supplementary details for each event, varies by event type)
* Player 2 (name of a secondary player involved in an event, varies by event type)
* X Coordinate 2 (x-coordinate of a secondary event detail, varies by event)
* Y Coordinate 2 (y-coordinate of a secondary event detail, varies by event)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [3]:
nwhl = pd.read_csv("/drive/My Drive/Rotman MMA Summer Datathon NWHL.csv")

In [4]:
nwhl.head()

    game_date            Home Team  ... X Coordinate 2  Y Coordinate 2
0  2021-01-23  Minnesota Whitecaps  ...            NaN             NaN
1  2021-01-23  Minnesota Whitecaps  ...            NaN             NaN
2  2021-01-23  Minnesota Whitecaps  ...            NaN             NaN
3  2021-01-23  Minnesota Whitecaps  ...            NaN             NaN
4  2021-01-23  Minnesota Whitecaps  ...            NaN             NaN

[5 rows x 21 columns]

In [5]:
nwhl.shape

(26882, 21)

In [6]:
nwhl.describe()

             Period  Home Team Skaters  ...  X Coordinate 2  Y Coordinate 2
count  26882.000000       26882.000000  ...    10679.000000    10679.000000
mean       2.010565           4.867086  ...      108.009739       42.119019
std        0.834753           0.357216  ...       59.195703       27.196254
min        1.000000           3.000000  ...        0.000000        0.000000
25%        1.000000           5.000000  ...       58.000000       17.000000
50%        2.000000           5.000000  ...      112.000000       42.000000
75%        3.000000           5.000000  ...      161.000000       67.000000
max        4.000000           6.000000  ...      200.000000       85.000000

[8 rows x 9 columns]

In [7]:
nwhl.isnull().sum()

game_date                0
Home Team                0
Away Team                0
Period                   0
Clock                    0
Home Team Skaters        0
Away Team Skaters        0
Home Team Goals          0
Away Team Goals          0
Team                     0
Player                   0
Event                    0
X Coordinate             0
Y Coordinate             0
Detail 1              9421
Detail 2             24897
Detail 3             24897
Detail 4             24897
Player 2             13277
X Coordinate 2       16203
Y Coordinate 2       16203
dtype: int64

In [8]:
nwhl.Event.unique()

array(['Faceoff Win', 'Puck Recovery', 'Zone Entry', 'Shot', 'Play',
       'Takeaway', 'Dump In/Out', 'Incomplete Play', 'Penalty Taken',
       'Goal'], dtype=object)

## Events

* Shot - Shot attempts that are unsuccessful (block, miss or save)
* Goal - Shot attempts that are successful (goal)
* Play - Pass attempts that are successful
* Incomplete Play - Pass attempts that are unsuccessful
* Takeaway - Steals, pass interceptions and won battles that lead to a change in possession
* Puck Recovery - Possession gains initiated by retrieving a loose puck that was created by a missed/blocked/saved shot, an advance (e.g. dump-out/dump-in), a faceoff or a broken play
* Dump In/Out - Actions in which a skater intentionally concedes possession by advancing the puck up ice
* Zone Entry - Attempts to move the puck into the offensive zone from the neutral zone
* Faceoff Win - Faceoffs
* Penalty Taken - Infractions

### Categorizing Goals and Shots

In [9]:
# Goals made with traffic
# Traffic: an indicator whether there were other players (from either team) between the shooting player and the goalie at the time of the shot.  
# A shot made through traffic is harder to aim and has a high chance of being blocked.  
# However, it is also much harder for the goalie to see and thus may have a higher chance of being successful.

df2 = nwhl.copy()
df2.loc[(df2['Event']=='Goal') & (df2['Detail 3']=='t'),'Event'] = 'Goal+T'
nwhl = df2

In [10]:
# On Net shots -- reaches the net only to be saved (intercepted) by the goalie 
df2 = nwhl.copy()
df2.loc[(df2['Event']=='Shot') & (df2['Detail 2']=='On Net'),'Event']='Shot_OnNet'
# Missed shots -- The shot miss the net
df2.loc[(df2['Event']=='Shot') & (df2['Detail 2']=='Missed'),'Event']='Shot_Missed'
# Blocked shots -- shot is blocked or intercepted before it reaches the net
df2.loc[(df2['Event']=='Shot') & (df2['Detail 2']=='Blocked'),'Event']='Shot_Blocked' 
nwhl=df2

nwhl.Event.unique()

array(['Faceoff Win', 'Puck Recovery', 'Zone Entry', 'Shot_OnNet', 'Play',
       'Takeaway', 'Dump In/Out', 'Incomplete Play', 'Shot_Missed',
       'Shot_Blocked', 'Penalty Taken', 'Goal', 'Goal+T'], dtype=object)

## Players

In [11]:
# Total number of players in the season
len(nwhl.Player.unique())

126

In [12]:
# Event values are converted to columns
players = nwhl.groupby('Player')['Event'].value_counts().unstack().fillna(0)
players.columns.name = None
players.reset_index(level=0, inplace=True)
players.head()

              Player  Dump In/Out  ...  Takeaway  Zone Entry
0         Abbie Ives          0.0  ...       0.0         0.0
1     Allie Olnowich         10.0  ...       5.0         3.0
2    Allie Thunstrom         24.0  ...      14.0        32.0
3     Alyson Matteau         20.0  ...      28.0        17.0
4  Alyssa Wohlfeiler          8.0  ...       8.0        26.0

[5 rows x 14 columns]

In [13]:
players['Shot'] = players['Shot_Blocked'] + players['Shot_Missed']

In this dataset, each row corresponds to one player.

### Goals and Shots

In [14]:
# Get the total number of shots made by the player
players['total_shots'] = (players['Goal'] + players['Goal+T']) + (players['Shot_OnNet'] + players['Shot'])
players.head()

              Player  Dump In/Out  Faceoff Win  ...  Zone Entry  Shot  total_shots
0         Abbie Ives          0.0          0.0  ...         0.0   0.0          0.0
1     Allie Olnowich         10.0          0.0  ...         3.0   6.0         10.0
2    Allie Thunstrom         24.0          1.0  ...        32.0  16.0         28.0
3     Alyson Matteau         20.0          0.0  ...        17.0  15.0         23.0
4  Alyssa Wohlfeiler          8.0          0.0  ...        26.0  12.0         25.0

[5 rows x 16 columns]

In [15]:
players.sort_values(by=['Goal'], ascending=False).head(n=5)

                  Player  Dump In/Out  ...  Shot  total_shots
87   Mikyla Grant-Mentis         19.0  ...  23.0         54.0
9      Autumn MacDougall         28.0  ...   7.0         21.0
98        Samantha Davis         21.0  ...  15.0         38.0
44       Jillian Dempsey         10.0  ...  10.0         27.0
116         Taylor Woods         31.0  ...  32.0         46.0

[5 rows x 16 columns]

In [16]:
# Find the players goal score percentage
# OnNet %: Tells us that actually how many shots reached the goal(either resulted in a 'goal' or were saved by a goalie-'on net')
players['OnNet_pct'] = (players['Goal'] + players['Goal+T'] + players['Shot_OnNet'])/players['total_shots']
players.fillna(0, inplace=True)
players.head(3)

            Player  Dump In/Out  Faceoff Win  ...  Shot  total_shots  OnNet_pct
0       Abbie Ives          0.0          0.0  ...   0.0          0.0   0.000000
1   Allie Olnowich         10.0          0.0  ...   6.0         10.0   0.400000
2  Allie Thunstrom         24.0          1.0  ...  16.0         28.0   0.428571

[3 rows x 17 columns]

In [17]:
players.sort_values(by=['OnNet_pct'], ascending=False).head(n=5)

            Player  Dump In/Out  Faceoff Win  ...  Shot  total_shots  OnNet_pct
73    Maeve Reilly          3.0          0.0  ...   0.0          1.0   1.000000
53  Kayla Meneghin          5.0          5.0  ...   0.0          2.0   1.000000
50   Katelynn Russ         19.0          6.0  ...   5.0         28.0   0.821429
45    Jonna Curtis         24.0         26.0  ...   5.0         21.0   0.761905
36      Haley Mack          8.0          6.0  ...   4.0         15.0   0.733333

[5 rows x 17 columns]

In [18]:
# Shot Score -- Tells us the accuracy of the shots (1- missed)
players['Shot Score'] = 1 - (players['Shot_Missed']/players['total_shots'])
players.sort_values(by=['Shot Score'], ascending=False).head(n=5)

                     Player  Dump In/Out  ...  OnNet_pct  Shot Score
53           Kayla Meneghin          5.0  ...   1.000000         1.0
97              Rose Alleva          0.0  ...   0.000000         1.0
23  Chelsey Brodt-Rosenthal         17.0  ...   0.333333         1.0
39           Hunter Accursi         11.0  ...   0.714286         1.0
42              Jayne Lewis          6.0  ...   0.666667         1.0

[5 rows x 18 columns]

In [19]:
# Threshold value to calculate Shoot Score
shot_sc = players['total_shots'].median()
shot_sc

14.0

In [20]:
# Cleaning the data according to the threshold value
players.loc[(players['total_shots']<shot_sc),'Shot Score'] = 0
players.sort_values(by=['Shot Score'], ascending=False).head(n=5)

                Player  Dump In/Out  ...  OnNet_pct  Shot Score
45        Jonna Curtis         24.0  ...   0.761905    1.000000
120    Theresa Knutson          5.0  ...   0.588235    0.941176
56       Kiira Dosdall         16.0  ...   0.705882    0.941176
86     Meghara McManus         26.0  ...   0.640000    0.920000
9    Autumn MacDougall         28.0  ...   0.666667    0.904762

[5 rows x 18 columns]

In [21]:
# Calculate goal normalised - it will be in the range of 0-1
players['goal_normalised'] = players['Goal']/max(players['Goal'])
players['goal+T_normalised'] = players['Goal+T']/max(players['Goal+T'])

#### Calculating goal_avg using normalised scores

In [22]:
# Weight of Goal with traffic > Goal > Shots on Net = Shot Accuracy - 3/7 : 2/7 : 1/7 : 1/7
players['goal_avg'] = (2*players['goal_normalised'] + 3*players['goal+T_normalised']+players['OnNet_pct']+players['Shot Score'])/7
players.sort_values(by=['goal_avg'], ascending=False).head(5)

                  Player  Dump In/Out  ...  goal+T_normalised  goal_avg
87   Mikyla Grant-Mentis         19.0  ...                0.5  0.695767
80         McKenna Brand         24.0  ...                1.0  0.677340
76     Mallory Souliotis         27.0  ...                1.0  0.675510
98        Samantha Davis         21.0  ...                0.5  0.612782
116         Taylor Woods         31.0  ...                0.5  0.577640

[5 rows x 21 columns]

Consider top 10% of players in every category

In [23]:
ratio = 0.1
threshold_pct = np.int(np.floor(ratio*len(nwhl.Player.unique())))
threshold_pct

12

In [24]:
goal_avg_thres = players.sort_values(by=['goal_avg'], ascending=False)['goal_avg'][threshold_pct-1:threshold_pct].values[0]
goal_avg_thres

0.4387755102040816

#### Consider players with Goals > goal_avg_thres as excellent goal scorers

In [25]:
# use this feature for goal scoring constraint in the Linear programming problem
players['goal_scorers'] = (players['goal_avg'] >= goal_avg_thres).astype(int)

### Play and Incomplete Play

In [26]:
# Get the total number of passes made by the player
players['total_passes'] = players['Play'] + players['Incomplete Play']
players.head(n=3)

            Player  Dump In/Out  ...  goal_scorers  total_passes
0       Abbie Ives          0.0  ...             0          16.0
1   Allie Olnowich         10.0  ...             0          30.0
2  Allie Thunstrom         24.0  ...             0          69.0

[3 rows x 23 columns]

In [27]:
# Find the players successful pass score percentage
players['pass_pct'] = players['Play']/players['total_passes']
players.head(n=3)

            Player  Dump In/Out  ...  total_passes  pass_pct
0       Abbie Ives          0.0  ...          16.0  0.812500
1   Allie Olnowich         10.0  ...          30.0  0.766667
2  Allie Thunstrom         24.0  ...          69.0  0.652174

[3 rows x 24 columns]

In [28]:
players.sort_values(by=['Play'], ascending=False).head(n=3)

                Player  Dump In/Out  ...  total_passes  pass_pct
48     Kaleigh Fratkin         41.0  ...         332.0  0.728916
76   Mallory Souliotis         27.0  ...         259.0  0.675676
104       Sarah Steele         11.0  ...         213.0  0.741784

[3 rows x 24 columns]

**Kaleigh Fratkin** has scored the most number of successful passes in this season.

In [29]:
players.sort_values(by=['pass_pct'], ascending=False).head(n=3)

                 Player  Dump In/Out  ...  total_passes  pass_pct
99   Samantha Ridgewell          0.0  ...          10.0       1.0
123     Victoria Hanson          1.0  ...          12.0       1.0
22           Caty Flagg          0.0  ...           1.0       1.0

[3 rows x 24 columns]

In [30]:
# Calculate Play normalised - it will be in the range of 0-1
players['play_normalised'] = players['Play']/max(players['Play'])

# Calculate average of play_normalised and pass_pct - this will take both the fields into account 
players['pass_avg'] = (2*players['play_normalised'] + players['pass_pct'])/3
players.sort_values(by=['pass_avg'], ascending=False).head()

                Player  Dump In/Out  ...  play_normalised  pass_avg
48     Kaleigh Fratkin         41.0  ...         1.000000  0.909639
76   Mallory Souliotis         27.0  ...         0.723140  0.707319
116       Taylor Woods         31.0  ...         0.648760  0.690307
104       Sarah Steele         11.0  ...         0.652893  0.682523
108  Shiann Darkangelo         25.0  ...         0.636364  0.660802

[5 rows x 26 columns]

In [31]:
pass_avg_thres = players.sort_values(by=['pass_avg'], ascending=False)['pass_avg'][threshold_pct-1:threshold_pct].values[0]
pass_avg_thres

0.5969175787357606

#### Consider players with pass_pct > pass_avg_thres as excellent passers

In [32]:
# use this feature for passers constraint in the Linear programming problem
players['passers'] = (players['pass_avg'] >= pass_avg_thres).astype(int)
players.head(n=3)

            Player  Dump In/Out  ...  pass_avg  passers
0       Abbie Ives          0.0  ...  0.306646        0
1   Allie Olnowich         10.0  ...  0.318916        0
2  Allie Thunstrom         24.0  ...  0.341358        0

[3 rows x 27 columns]

### Faceoff

In [33]:
players.sort_values(by=['Faceoff Win'], ascending=False).head(n=3)

                Player  Dump In/Out  ...  pass_avg  passers
108  Shiann Darkangelo         25.0  ...  0.660802        1
44     Jillian Dempsey         10.0  ...  0.450271        0
63         Lexie Laing         23.0  ...  0.413223        0

[3 rows x 27 columns]

In [34]:
# Faceoff Loss - number of times the player lost in the Faceoff
faceoff_loss = nwhl[(nwhl['Event'] == 'Faceoff Win')].groupby('Player 2')['Event'].count()
players['Faceoff Loss'] = players['Player'].apply(lambda x: faceoff_loss[x] if(x in faceoff_loss) else 0)
players['faceoff_pct'] = (players['Faceoff Win'] / (players['Faceoff Win'] + players['Faceoff Loss'])).fillna(0)
players.sort_values(by=['faceoff_pct'], ascending=False).head()

             Player  Dump In/Out  ...  Faceoff Loss  faceoff_pct
85   Meghan Lorence         15.0  ...             0          1.0
93     Paige Voight         15.0  ...             0          1.0
16     Brooke White          2.0  ...             0          1.0
122   Tori Sullivan         10.0  ...             0          1.0
101     Sara Bustad          8.0  ...             0          1.0

[5 rows x 29 columns]

In [35]:
# Calculate faceoff win normalised - it will be in the range of 0-1
players['faceoff_win_normalised'] = players['Faceoff Win']/max(players['Faceoff Win'])

# Calculate average of faceoff_win_normalised and faceoff_pct - this will take both the fields into account 
players['faceoff_avg'] = (2*players['faceoff_win_normalised'] + players['faceoff_pct'])/3
players.sort_values(by=['faceoff_avg'], ascending=False).head(5)

                     Player  Dump In/Out  ...  faceoff_win_normalised  faceoff_avg
108       Shiann Darkangelo         25.0  ...                1.000000     0.877333
44          Jillian Dempsey         10.0  ...                0.886076     0.831267
63              Lexie Laing         23.0  ...                0.696203     0.659170
119         Tereza Vanisova          5.0  ...                0.645570     0.651159
10   Breanne Wilson-Bennett         21.0  ...                0.569620     0.574552

[5 rows x 31 columns]

In [36]:
faceoff_avg_thres = players.sort_values(by=['faceoff_avg'], ascending=False)['faceoff_avg'][threshold_pct-1:threshold_pct].values[0]
faceoff_avg_thres

0.3845815752461322

#### Consider players with Faceoff Win > faceoff_avg_thres as Faceoff Specialists

In [37]:
# use this feature for faceoff constraint in the Linear programming problem
players['faceoff_specialist'] = (players['faceoff_avg'] >= faceoff_avg_thres).astype(int)

### Takeaway  Specialist

In [38]:
players.sort_values(by=['Takeaway'], ascending=False).head(n=3)

                    Player  Dump In/Out  ...  faceoff_avg  faceoff_specialist
25        Dominique Kremer         36.0  ...     0.000000                   0
3           Alyson Matteau         20.0  ...     0.000000                   0
10  Breanne Wilson-Bennett         21.0  ...     0.574552                   1

[3 rows x 32 columns]

In [39]:
takeaway_thres = players.sort_values(by=['Takeaway'], ascending=False)['Takeaway'][threshold_pct-1:threshold_pct].values[0]
takeaway_thres

20.0

#### Consider players with Takeaway > takeaway_thres as Takeaway Specialists

In [40]:
# use this feature for takeoff constraint in the Linear programming problem
players['takeaway_specialist'] = (players['Takeaway'] >= takeaway_thres).astype(int)

## Linear Programming Problem

The selection of the new team is a constrained optimization problem.

In [41]:
!pip install pulp

Collecting pulp
  Downloading https://files.pythonhosted.org/packages/14/c4/0eec14a0123209c261de6ff154ef3be5cad3fd557c084f468356662e0585/PuLP-2.4-py3-none-any.whl (40.6MB)
     |████████████████████████████████| 40.6MB 72kB/s
Collecting amply>=0.1.2
  Downloading https://files.pythonhosted.org/packages/f3/c5/dfa09dd2595a2ab2ab4e6fa7bebef9565812722e1980d04b0edce5032066/amply-0.1.4-py3-none-any.whl
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from amply>=0.1.2->pulp) (2.4.7)
Requirement already satisfied: docutils>=0.3 in /usr/local/lib/python3.7/dist-packages (from amply>=0.1.2->pulp) (0.17.1)
Installing collected packages: amply, pulp
Successfully installed amply-0.1.4 pulp-2.4

#### Transforming player selection into an LPP
*The coaches would like to select five top players.  The players should, ideally, excel in all areas of the game.  Since scoring goals is the ultimate objective, at least three should be excellent goal scorers and at least two should be excellent passers.  In addition, you need at least two faceoff specialists and one takeaway specialist.  It would be especially beneficial if the passers were familiar with the shooting specialists (i.e., had a good track record of completing passes to these players).*

#### Objective Function:
* Maximize the number of goals scored by the team

#### Decision Variable
* The Players

#### Constraints:
* Select five top players
* At least three should be excellent goal scorers
* At least two should be excellent passers
* At least two faceoff specialists 
* At least one takeaway specialist

In [42]:
from pulp import *

In [43]:
prob = pulp.LpProblem('PlayerSelection', LpMaximize)

#### Decision variables.
The players are decision variables. It can take values 1 or 0 depending on whether the player is selected or not for top 5.

In [44]:
decision_variables = []
for rownum, row in players.iterrows():
    variable = str('x' + str(rownum))
    variable = pulp.LpVariable(str(variable), lowBound = 0, upBound = 1, cat= 'Integer') #make variables binary
    decision_variables.append(variable)

print ("Total number of decision_variables: " + str(len(decision_variables)))

Total number of decision_variables: 126

#### Optimization function

In [45]:
total_points = ""
for rownum, row in players.iterrows():
    for i, player in enumerate(decision_variables):
        if rownum == i:
            formula = row['Goal']*player
            total_points += formula

prob += total_points
display ("Optimization function: " + str(total_points))

'Optimization function: x10 + x105 + x115 + 3.0*x116 + x117 + x120 + 2.0*x14 + 2.0*x24 + x29 + x32 + 2.0*x36 + 3.0*x44 + x45 + x46 + x5 + 2.0*x50 + x51 + x58 + x60 + x63 + x64 + x69 + x7 + x75 + x76 + x8 + x80 + x81 + x82 + x84 + 4.0*x87 + 3.0*x9 + 2.0*x91 + x96 + 3.0*x98'

#### Constraints

In [46]:
# Select top 5 players
req_players = 5
total_players = ""
for rownum, row in players.iterrows():
    for i, player in enumerate(decision_variables):
        if rownum == i:
            formula = 1*player
            total_players += formula
prob += (total_players == req_players)
#print((total_players))
display (str(total_players) + " == 5")

'x0 + x1 + x10 + x100 + x101 + x102 + x103 + x104 + x105 + x106 + x107 + x108 + x109 + x11 + x110 + x111 + x112 + x113 + x114 + x115 + x116 + x117 + x118 + x119 + x12 + x120 + x121 + x122 + x123 + x124 + x125 + x13 + x14 + x15 + x16 + x17 + x18 + x19 + x2 + x20 + x21 + x22 + x23 + x24 + x25 + x26 + x27 + x28 + x29 + x3 + x30 + x31 + x32 + x33 + x34 + x35 + x36 + x37 + x38 + x39 + x4 + x40 + x41 + x42 + x43 + x44 + x45 + x46 + x47 + x48 + x49 + x5 + x50 + x51 + x52 + x53 + x54 + x55 + x56 + x57 + x58 + x59 + x6 + x60 + x61 + x62 + x63 + x64 + x65 + x66 + x67 + x68 + x69 + x7 + x70 + x71 + x72 + x73 + x74 + x75 + x76 + x77 + x78 + x79 + x8 + x80 + x81 + x82 + x83 + x84 + x85 + x86 + x87 + x88 + x89 + x9 + x90 + x91 + x92 + x93 + x94 + x95 + x96 + x97 + x98 + x99 == 5'

In [47]:
# At least three should be excellent goal scorers
req_goal_scorer = 3
total_goal_scorer = ""
for rownum, row in players.iterrows():
    for i, player in enumerate(decision_variables):
        if rownum == i:
            if row['goal_scorers'] == 1:
                formula = 1*player
                total_goal_scorer += formula
prob += (total_goal_scorer >= req_goal_scorer)
print(total_goal_scorer)

x10 + x116 + x58 + x61 + x69 + x76 + x8 + x80 + x82 + x87 + x9 + x98

In [48]:
# At least two should be excellent passers
req_passers = 2
total_passers = ""
for rownum, row in players.iterrows():
    for i, player in enumerate(decision_variables):
        if rownum == i:
            if row['passers'] == 1:
                formula = 1*player
                total_passers += formula
prob += (total_passers >= req_passers)
#print((total_passers))
display (str(total_passers) + " >= 2")

'x104 + x108 + x113 + x116 + x119 + x3 + x48 + x60 + x64 + x76 + x78 + x80 >= 2'

In [49]:
# At least two faceoff specialists
req_faceoff_specialist = 2
total_faceoff_specialist = ""
for rownum, row in players.iterrows():
    for i, player in enumerate(decision_variables):
        if rownum == i:
            if row['faceoff_specialist'] == 1:
                formula = 1*player
                total_faceoff_specialist += formula
prob += (total_faceoff_specialist >= req_faceoff_specialist)
print((total_faceoff_specialist))

x10 + x103 + x108 + x110 + x119 + x19 + x21 + x32 + x44 + x46 + x52 + x63

In [50]:
# At least one takeaway specialist
req_takeoff_specialist = 1
total_takeoff_specialist = ""
for rownum, row in players.iterrows():
    for i, player in enumerate(decision_variables):
        if rownum == i:
            if row['takeaway_specialist'] == 1:
                formula = 1*player
                total_takeoff_specialist += formula
prob += (total_takeoff_specialist >= req_takeoff_specialist)
print((total_takeoff_specialist))

x10 + x108 + x111 + x21 + x25 + x3 + x44 + x46 + x62 + x76 + x78 + x88

#### Solve the LPP problem

In [51]:
prob.writeLP('PlayerSelection.lp')
optimization_result = prob.solve()
assert optimization_result == LpStatusOptimal
print("Status:", LpStatus[prob.status])
print("Optimal Solution to the problem: ", value(prob.objective))
print ("Individual decision_variables: ")
for v in prob.variables():
    print(v.name, "=", v.varValue)

Status: Optimal
Optimal Solution to the problem:  13.0
Individual decision_variables:
x0 = 0.0
x1 = 0.0
x10 = 0.0
x100 = 0.0
x101 = 0.0
x102 = 0.0
x103 = 0.0
x104 = 0.0
x105 = 0.0
x106 = 0.0
x107 = 0.0
x108 = 0.0
x109 = 0.0
x11 = 0.0
x110 = 0.0
x111 = 0.0
x112 = 0.0
x113 = 0.0
x114 = 0.0
x115 = 0.0
x116 = 1.0
x117 = 0.0
x118 = 0.0
x119 = 1.0
x12 = 0.0
x120 = 0.0
x121 = 0.0
x122 = 0.0
x123 = 0.0
x124 = 0.0
x125 = 0.0
x13 = 0.0
x14 = 0.0
x15 = 0.0
x16 = 0.0
x17 = 0.0
x18 = 0.0
x19 = 0.0
x2 = 0.0
x20 = 0.0
x21 = 0.0
x22 = 0.0
x23 = 0.0
x24 = 0.0
x25 = 0.0
x26 = 0.0
x27 = 0.0
x28 = 0.0
x29 = 0.0
x3 = 0.0
x30 = 0.0
x31 = 0.0
x32 = 0.0
x33 = 0.0
x34 = 0.0
x35 = 0.0
x36 = 0.0
x37 = 0.0
x38 = 0.0
x39 = 0.0
x4 = 0.0
x40 = 0.0
x41 = 0.0
x42 = 0.0
x43 = 0.0
x44 = 1.0
x45 = 0.0
x46 = 0.0
x47 = 0.0
x48 = 0.0
x49 = 0.0
x5 = 0.0
x50 = 0.0
x51 = 0.0
x52 = 0.0
x53 = 0.0
x54 = 0.0
x55 = 0.0
x56 = 0.0
x57 = 0.0
x58 = 0.0
x59 = 0.0
x6 = 0.0
x60 = 0.0
x61 = 0.0
x62 = 0.0
x63 = 0.0
x64 = 0.0
x65 = 0.0
x66 = 0.0
x67 = 0.0
x68 = 0.0
x69 = 0.0
x7 = 0.0
x70 = 0.0
x71 = 0.0
x72 = 0.0
x73 = 0.0
x74 = 0.0
x75 = 0.0
x76 = 0.0
x77 = 0.0
x78 = 0.0
x79 = 0.0
x8 = 0.0
x80 = 0.0
x81 = 0.0
x82 = 0.0
x83 = 0.0
x84 = 0.0
x85 = 0.0
x86 = 0.0
x87 = 1.0
x88 = 0.0
x89 = 0.0
x9 = 0.0
x90 = 0.0
x91 = 0.0
x92 = 0.0
x93 = 0.0
x94 = 0.0
x95 = 0.0
x96 = 0.0
x97 = 0.0
x98 = 1.0
x99 = 0.0

#### Top 5 players selected my the LPP model

In [52]:
variable_name = []
variable_value = []

for v in prob.variables():
    variable_name.append(v.name)
    variable_value.append(v.varValue)

df = pd.DataFrame({'variable': variable_name, 'value': variable_value})
for rownum, row in df.iterrows():
    value = re.findall(r'(\d+)', row['variable'])
    df.loc[rownum, 'variable'] = int(value[0])

df = df.sort_index()

#append results
for rownum, row in players.iterrows():
    for results_rownum, results_row in df.iterrows():
        if rownum == results_row['variable']:
            players.loc[rownum, 'decision'] = results_row['value']
 
players[players.decision==1].sort_values('Player').head(5)

                  Player  Dump In/Out  ...  takeaway_specialist  decision
44       Jillian Dempsey         10.0  ...                    1       1.0
87   Mikyla Grant-Mentis         19.0  ...                    0       1.0
98        Samantha Davis         21.0  ...                    0       1.0
116         Taylor Woods         31.0  ...                    0       1.0
119      Tereza Vanisova          5.0  ...                    0       1.0

[5 rows x 34 columns]

In [53]:
#players[players.decision==1]['Player', 'Goal']
df_top5 = players[(players['decision'] == 1)]
df_top5[['Player', 'goal_scorers', 'passers', 'faceoff_specialist', 'takeaway_specialist', 'Goal', 'Goal+T', 'goal_normalised', 'goal+T_normalised', 'OnNet_pct', 'goal_avg', 'Shot_OnNet', 'Shot Score','Play', 'play_normalised', 'pass_avg', 'Faceoff Win', 'faceoff_win_normalised', 'faceoff_pct', 'Takeaway']]
#df_top5

                  Player  goal_scorers  ...  faceoff_pct  Takeaway
44       Jillian Dempsey             0  ...     0.721649      22.0
87   Mikyla Grant-Mentis             1  ...     0.542857      19.0
98        Samantha Davis             1  ...     0.625000      18.0
116         Taylor Woods             1  ...     0.666667      14.0
119      Tereza Vanisova             0  ...     0.662338      17.0

[5 rows x 20 columns]

In [54]:
print('goal_avg_thres: ', goal_avg_thres)
print('pass_avg_thres: ', pass_avg_thres)
print('faceoff_avg_thres: ', faceoff_avg_thres)
print('takeaway_thres: ', takeaway_thres)

goal_avg_thres:  0.4387755102040816
pass_avg_thres:  0.5969175787357606
faceoff_avg_thres:  0.3845815752461322
takeaway_thres:  20.0

In [55]:
nwhl[(nwhl['Event'] == 'Play') & (nwhl['Player'] == 'Tereza Vanisova') & (nwhl['Player 2'] == 'Mikyla Grant-Mentis')]['Player'].count()

0

In [56]:
nwhl[(nwhl['Event'] == 'Incomplete Play') & (nwhl['Player'] == 'Tereza Vanisova') & (nwhl['Player 2'] == 'Mikyla Grant-Mentis')]['Player'].count()

0

### To find synergy between passers and other players

In [57]:
df_tmp = nwhl[['Team','Player','Player 2','Event']]

df2 = df_tmp[(df_tmp['Event'] == 'Play') | (df_tmp['Event']=='Incomplete Play')]
df2['Event'] = df2['Event'].apply(lambda x: 1 if(x=='Play') else 0)

df3 = df2.pivot_table(values = 'Event', index=['Team','Player','Player 2'], aggfunc={'count','mean','sum'})

df_syn = df3.sort_values(by=['mean','sum'],ascending=False)
df_syn.columns=['Total_passes','Success_rate','Successful_Passes']
df_syn

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                                                              Total_passes  ...  Successful_Passes
Team         Player                  Player 2                               ...
Boston Pride McKenna Brand           Kaleigh Fratkin                  35.0  ...               35.0
             Briana Mastel           Taylor Turnquist                 23.0  ...               23.0
Toronto Six  Taylor Woods            Lindsay Eastwood                 23.0  ...               23.0
                                     Sarah Steele                     17.0  ...               17.0
                                     Shiann Darkangelo                16.0  ...               16.0
...                                                                    ...  ...                ...
             Sarah Steele            Emma Greco                        1.0  ...                0.0
             Sarah-Eve Coutu Godbout Shiann Darkangelo                 1.0  ...                0.0
             Shiann Darkangelo       Natalie Marcuzzi                  1.0  ...                0.0
                                     Sarah-Eve Coutu Godbout           1.0  ...                0.0
             Taylor Woods            Emily Fluke                       8.0  ...                0.0

[1598 rows x 3 columns]

In [58]:
df_syn.reset_index(inplace=True)
df_syn.rename(columns = {'Player 2':'Player2'},inplace=True)
df_syn.head()

           Team         Player  ... Success_rate  Successful_Passes
0  Boston Pride  McKenna Brand  ...          1.0               35.0
1  Boston Pride  Briana Mastel  ...          1.0               23.0
2   Toronto Six   Taylor Woods  ...          1.0               23.0
3   Toronto Six   Taylor Woods  ...          1.0               17.0
4   Toronto Six   Taylor Woods  ...          1.0               16.0

[5 rows x 6 columns]

In [59]:
df_s1 = df_syn[df_syn['Player']=='Tereza Vanisova']
lst1 = ['Samantha Davis','Jillian Dempsey','Mikyla Grant-Mentis','Taylor Woods']
a1 = df_s1[df_s1.Player2.isin(lst1)]
a1

             Team           Player  ... Success_rate  Successful_Passes
323  Boston Pride  Tereza Vanisova  ...     1.000000                1.0
782  Boston Pride  Tereza Vanisova  ...     0.722222               26.0

[2 rows x 6 columns]

#### Tereza has high synergy with Samantha and some with Jillian

In [60]:
df_s2 = df_syn[df_syn['Player']=='Taylor Woods']
lst2 = ['Samantha Davis','Jillian Dempsey','Mikyla Grant-Mentis','Tereza Vanisova']
a2 = df_s2[df_s2.Player2.isin(lst2)]
a2

            Team        Player  ... Success_rate  Successful_Passes
704  Toronto Six  Taylor Woods  ...     0.771429               27.0

[1 rows x 6 columns]

#### Taylor has good synergy with Mikyla

## Final Selection of 5 players:
1. Mikyla Grant-Mentis
2. Taylor Woods
3. Samantha Davis
4. Jillian Dempsey
5. Tereza Vanisova


# Thank You!
_________